@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background-light dark:bg-background-dark text-on-background-light dark:text-on-background-dark font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}
